<div class="row">
	<div class="col-sm-5">
		<h2>Current Additions</h2>
	</div>
	<div class="col-sm-4">
		<%=button_to "Delete Additions", truck_run_path(@truck_run), method: :delete, id: "delete-truck-run-btn", class: "btn btn-default" %>
	</div>
</div>
<table class="table table-hover">
	<tr>
		<th>Stock Number</th>
		<th>Brand</th>
		<th>Model</th>
		<th>Size</th>
		<th>Location</th>
	</tr>
	<% @truck_run.bike_inventories.each do |inventory| %>
		<tr>
			
			<% next unless inventory.bike.try(:brand) %>
			<td><%= inventory.try(:id) %></td>
			<td><%= inventory.bike.try(:brand) %></td>
			<td><%= inventory.bike.try(:model) %></td>
			<td><%= inventory.size %></td>
			<td><%= inventory.store.try(:location) %></td>
		</tr>
	<% end %>
</table>