<div class="col-sm-12">


    <div class=" footer col-sm-12">

        <div class="col-sm-8 col-sm-offset-2">
          <ul class="nav navbar-nav">
           <li><%=link_to "new bikes", "/#/bikes" %></li>
           <li><%=link_to "used bikes", "/#/used_bikes" %></li>
           <li><%=link_to "repairs", "/#/home" %></li>
           <li><%=link_to "rentals", "/#/rentals/new" %></li>
           <li><%=link_to "locations", "/#/stores" %></li>
           <li><%=link_to "admin", "/#/admin" %></li>
         </ul>
       </div>




 </div>
</div>