<!-- <div class="row" id="above-navbar-div">
  <div class="col-sm-6 pull-left">
    <a href="/#/home" class="navbar-brand"> 
      <h1> big wheel bikes </h1>
    </a>
  </div>
  
</div> -->

</div>
<nav class="navbar navbar-default" role="navigation">

  <div class="col-sm-12 row" id="navbar-row">
    
    <div class="col-sm-3">
      <a href="/#/home" class="navbar-brand row"> 
        <span class="col-sm-12"> big wheel bikes </span>
       <!--  <img class="col-sm-12" src="assets/big_wheel_bikes_bike.png"/> -->
      </a>
    </div>

    <div class="col-sm-9" id="navbar-links-div">
      <div class="col-sm-12" id="top-nav-div">
        <ul class="nav navbar-nav pull-left">
         <li><%=link_to "new bikes", "/#/bikes" %></li>
         <li><%=link_to "used bikes", "/#/used_bikes" %></li>
         <li><%=link_to "gear", "/#/rentals/new" %></li>
         <li><%=link_to "rentals", "/#/rentals/new" %></li>
         <li><%=link_to "service", "/#/home" %></li>
         <li><%=link_to "about", "/#/bikes" %></li>
         <li><%=link_to "admin", "/#/admin" %></li>
       </ul>
      </div>
      <div class="col-sm-12" id="bottom-nav-div">
      </div>
   </div>

 </div>

</nav>
