<div class="col-sm-12 top-nav-div">
  <div class="col-sm-2 top-nav-logo-div">
    <img src="assets/big_wheel_bikes_bike.png" id="top-nav-logo" />
  </div>
  <div class="col-sm-10 top-nav-info-div">
    <div class="col-sm-4 location pull-right">
     <h4>Arlington:  703-522-1110</h4>
   </div>
   <div class="col-sm-4 location pull-right">
     <h4>Bethesda:  301-652-0192</h4>
   </div>
   <div class="col-sm-4 location headline pull-right">
     <h4>5 Locations in DC MD and VA:</h4>
   </div>
   <div class="col-sm-4 location pull-right">
     <h4>Old Town:  703-739-2300 </h4>
   </div>
   <div class="col-sm-4 location pull-right">
     <h4>Potomac:  301-299-1660</h4>
   </div>
   <div class="col-sm-4 location pull-right">
     <h4>Georgetown:  202-337-0254</h4>
   </div>
 </div>
</div>

<div class="col-sm-12">
  <nav class="navbar navbar-default" role="navigation">

    <div class="col-sm-12" id="navbar-row">

      <div class="col-sm-3">
        <a href="/#/home" class="navbar-brand row">
          <span class="col-sm-12"> big wheel bikes </span>
          <!--  <img class="col-sm-12" src="assets/big_wheel_bikes_bike.png"/> -->
        </a>
      </div>

      <div class="col-sm-9" id="navbar-links-div">
        <div class="col-sm-12" id="top-nav-div">
          <ul class="nav navbar-nav pull-left">
           <li><%=link_to "new bikes", "/#/bikes" %></li>
           <li><%=link_to "used bikes", "/#/used_bikes" %></li>
           <li><%=link_to "repairs", "/#/repairs" %></li>
           <li><%=link_to "rentals", "/#/rentals/new" %></li>
           <li><%=link_to "locations", "/#/stores" %></li>
           <li><%=link_to "our story", "/#/our_story" %></li>
         </ul>
       </div>
       <div class="col-sm-12" id="bottom-nav-div">
       </div>
     </div>

   </div>

 </nav>
</div>